/*.2-col { 
  columns: 2; -webkit-columns: 2; -moz-columns: 2;  
  column-gap: 2em; -webkit-column-gap: 2em; -moz-column-gap: 2em; 
} */

@gray:#ddd; 
@purple: #702EA5;
@linkColor: @purple ;  

.jumbtron {
    span {padding-top: 0.25%; padding-bottom: 0.25%}
}

.jumbotron h1, q {

    color: #fcfcfc; 
    font-family: "bebas-neue";
    text-shadow:     0 1px 0 hsl(174,5%,80%),
                     0 2px 0 hsl(174,5%,75%),
                     0 3px 0 hsl(174,5%,70%),
                     0 4px 0 hsl(174,5%,66%),
                     0 5px 0 hsl(174,5%,64%),
                     0 6px 0 hsl(174,5%,62%),
                     //0 7px 0 hsl(174,5%,61%),
                     //0 8px 0 hsl(174,5%,60%),
    
                     0 0 5px rgba(0,0,0,.05),
                    0 1px 3px rgba(0,0,0,.2),
                    0 3px 5px rgba(0,0,0,.2),
                   0 5px 10px rgba(0,0,0,.2),
                  0 10px 10px rgba(0,0,0,.2),
                  0 20px 20px rgba(0,0,0,.3);
}

.jumbotron i {
    color: #fcfcfc; 
}

.jumbotron span {
    color: #fcfcfc; 
}
.portfolio-intro .links { 
   /* .2-col; 
    column-gap: 1em; -webkit-column-gap: 1em; -moz-column-gap: 1em; 
    margin: 10px 0 0 1ex; 
    padding: 0;*/
    display: inline; 
 
    li { 
    margin: 0 0 5px 0; 
    list-style-type: none; 
    } 

    li i { padding-right: 1ex; } 
} 

img {
  border-radius: 20px;
}

q {
    font-size: 500%; 
     
}

q a {
   color: inherit;  
}

.links{
    display: inline; 
    margin: 10px; 
}

